$color1: rgb(159, 51, 222);
$color2: rgb(255, 255, 255);
$color3: rgb(130, 190, 234);
$color4:rgb(254, 254, 254);
$font1: 1em;
$font2: 1.2em;
$font3: 1.4em;
$font4: 1.6em;
$font5: 1.8em;
$font6: 2em;
$font7: 2.2em;
$font9: 25px;